doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='/site.css')
    |     
    title Hello
  body
    p Your contact information has been successfully saved.
    br
    br
    |   
    a(href='http://localhost:3000/cform')
      button(type='button') Return
